/* ==========================================================================
   Refined Wikipedia (Dark Mode)
   https://github.com/ismamz/refined-wikipedia
   ========================================================================== */

/**
 * Color Pallete
 * Based on https://github.com/sindresorhus/hyperterm-snazzy
 */

html.dark-mode {
	--background-color: #282a36;
	--background-alt-color: hsla(231, 15%, 16%, 1);
	--foreground-color: #eff0eb;
	--link-color: #57c7ff;
	--yellow: #f3f99d;
	--border-color: #222430;
	--cursor-color: #97979b;
	--icon-filter: contrast(0) sepia(100%) hue-rotate(0) brightness(20) saturate(1);
}

/* Global
   ========================================================================== */

/* improved text rendering */
html.dark-mode * {
	-webkit-font-smoothing: antialiased !important;
}

/* background and foreground colors */
html.dark-mode .mw-body,
html.dark-mode body,
html.dark-mode #mw-mf-page-center {
	background-color: var(--background-color) !important;
	color: var(--foreground-color) !important;
}

/* links */
html.dark-mode #mw-mf-page-center a,
html.dark-mode .overlay-content a
{
	color: var(--link-color) !important;
}

/* header style */
html.dark-mode .branding-box {
	filter: var(--icon-filter);
}

html.dark-mode .header-container {
	background-color: var(--background-alt-color) !important;
	border-bottom: 0;
}

/* toc */
html.dark-mode .toc-mobile {
	background-color: var(--border-color);
	border: 1px solid var(--cursor-color);
}

/* thumbcaption color */
html.dark-mode .thumbcaption {
	color: var(--cursor-color);
}

/* math equations */
html.dark-mode .mwe-math-fallback-image-inline {
	background-color: #fff !important;
	padding: 2px !important;
	border-radius: 2px !important;
}

html.dark-mode .wikidata-description {
	color: var(--cursor-color);
}

/* images */
html.dark-mode .thumbimage {
	background-color: #fff !important;
	padding: 2px !important;
	border-radius: 2px !important;
}

html.dark-mode .hatnote,
html.dark-mode .dablink,
html.dark-mode .rellink {
	color: var(--yellow);
	background-color: var(--border-color);
}



/* Misc
   ========================================================================== */

/* buttons */
html.dark-mode #mw-mf-page-center a.mw-ui-button,
html.dark-mode .mw-ui-button {
	background-color: var(--border-color);
	color: #fff !important;
}

/* replace inline gray for yellow */
html.dark-mode span[style="color:#555;"] {
	color: var(--yellow) !important;
}

/* overlay on menu open */
html.dark-mode body.navigation-enabled .transparent-shield {
	background: rgba(0, 0, 0, .7);
}

html.dark-mode #mw-mf-page-left {
	background: var(--background-color);
}

html.dark-mode #mw-mf-page-left ul li {
	background: transparent;
	border-top: none;
}

#mw-mf-page-left ul.hlist li a {
	color: var(--link-color)!important;
}

/* invert colours of UI icons */
html.dark-mode .mw-ui-icon,
html.dark-mode a.external {
	filter: var(--icon-filter);
}


/* code blocks */
html.dark-mode .mw-highlight {
	background-color: var(--background-color);
}

/* inline gallery */
html.dark-mode .mw-parser-output .mod-gallery .gallerybox div {
	background-color: var(--background-color) !important;
}

html.dark-mode li.gallerybox div.thumb {
	background: var(--background-alt-color) !important;
	border: none !important;
}
/* overlay */
html.dark-mode .overlay-header-container {
	background-color: var(--background-alt-color);
}

html.dark-mode .overlay.visible {
	background-color: var(--background-color);
}


/* Search Results
   ========================================================================== */

/* search overlay */
html.dark-mode .search-overlay,
html.dark-mode .overlay-content,
html.dark-mode .overlay-content-body {
	background-color: var(--background-color);
	color: var(--foreground-color);
}

/* search results data */
html.dark-mode .mw-search-result-data {
	color: #9aedfe;
}

/* background search result */
html.dark-mode .page-list {
	background-color: var(--border-color);
}

/* text for search results */
html.dark-mode.page-summary h2,
html.dark-mode .page-summary h3 {
	color: var(--link-color);
}

/* Search Did You Mean */
html.dark-mode .searchdidyoumean {
	color: #ff5c57;
}

html.dark-mode .site-link-list a {
	background-color: var(--border-color);
	color: var(--foreground-color);
}
html.dark-mode .site-link-list a .autonym {
	color: #fff;
}


/* Infobox
   ========================================================================== */

/* preserve original colors */
html.dark-mode table.infobox {
	color: #000 !important;
}

/* preserve original colors for links */
html.dark-mode #mw-mf-page-center table.infobox a {
	color: #0645ad !important;
}

/* tables inside content */
html.dark-mode .content table.wikitable > tr > th,
html.dark-mode .content table.wikitable > * > tr > th {
	background-color: #222430;
}


/* Article Meta Boxes
   ========================================================================== */

html.dark-mode .ambox-learn-more {
	color: var(--link-color) !important;
}

html.dark-mode .ambox,
html.dark-mode .mbox-small
{
	background: var(--background-alt-color) !important;
	color: var(--foreground-color) !important;
}

html.dark-mode .ambox-learn-more:before {
	background-image: linear-gradient(to right,rgba(255,255,255,0),var(--background-alt-color) 50%) !important;
}



/* Footer
   ========================================================================== */

/* external links on article footer */
/* html.dark-mode table.mbox-small {
	background-color: var(--background-color) !important;
} */

/* logo */
html.dark-mode .read-more-container + h2 img {
	filter: var(--icon-filter);
}

/* main container */
html.dark-mode .minerva-footer
{
	background-color: var(--background-alt-color) !important;
	border-top: solid 1px hsla(230, 15%, 8%, 1)
}

/* last modified */
html.dark-mode .last-modified-bar
{
	background-color: var(--background-alt-color) !important;
	border-bottom: solid 1px hsla(230, 15%, 8%, 1);
}

/* footer cards */
html.dark-mode .ext-related-articles-card
{
	background-color: var(--background-color) !important;
	border: 1px solid hsla(0, 0%, 0%, 1)!important;
}

html.dark-mode .ext-related-articles-card-detail h3:after {
	background-image: linear-gradient(to right,rgba(255,255,255,0),var(--background-color) 50%);
}
